.carousel-inner{
    max-height: 60rem;
  }
.row {
    img {
      margin: 0px;
      border-radius: 10px;
      &:first-of-type{
        margin-left: 20px;
   }
}
}
.ubicacion {
    height: 350px;
    margin-bottom: 40px;
    width: 100%;
    background-image:-webkit-linear-gradient($degradadogris);
    background-image:-moz-linear-gradient($degradadogris);
    background-image:-o-linear-gradient($degradadogris);
    background-image:-ms-linear-gradient($degradadogris);
    .content{
    width: 40%;
    padding: 30px 0 0px 60px;
    color: $color2;
    margin-left: 200px;
    h3{
      font-size: 35px;
    }
    p{
      margin: 10px 0px 20px 0px;
      font-size: 30px;
    }
  }
  }
  .mapa{
    margin-left: 230px ;
  }
@media (max-width: 768px) {
   .titulo{
     font-size: 45px;
   }
   .mapa{
      display: none;
    }
    .content{
       margin-left: 50px;
      }
    .hora{
      margin-top: 30px;
    }
  }
  
  @media (max-width: 576px) {
    .titulo{
      font-size: 35px;
    }
    .logo{
      margin-left: 30px;
    }
    .mapa{
       display: none;
     }
     .hora{
       margin-top: 20px;
     }
     .row{
       display: grid;
       justify-content: center;
     }
}
@media (max-width: 462) {
  .hora{
    margin-top: 5px;
  }
  .logo{
    margin-left: 10px;
  }
}